.bg-p1{
	background-color: #DDD0C8;
}
.bg-nav{
	background-color: #323232;
}
.font-1{
	font-family: Bradley Hand, cursive;
}
#home_section{
	margin-top: 10rem;
}
.form-control:focus{
	border-color: #ffc107 !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important;
}
/*#about_row_1{
	margin-left: 10rem;
	margin-right: 10rem;
}*/